#Pipeline files
pipeline/
tokenkeeper.yaml
.dockerignore
.gitlab-ci.yml
Dockerfile

# Git files.  Comment out or remove these if you intend to run git commands
# against the project inside a Docker image.
.git/
.gitignore
